@import url('https://fonts.googleapis.com/css?family=Work+Sans|Roboto|PT+Serif&display=swap');

.vars {
  --black: #000000;
  --white: #FFFFFF;
  --background: #FFFFFF;
  --red: #ff524a;

  --gray: #9E9E9E;
  --gray-contrast: var(--white);
  --gray-100: #F5F5F5;
  --gray-200: #EEEEEE;
  --gray-300: #E0E0E0;
  --gray-400: #BDBDBD;
  --gray-500: #9E9E9E;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;

  --primary: #1FA9CF;
  --primary-contrast: #886d66;
  --primary-100: #bce9f5;
  --primary-200: #90daee;
  --primary-300: #64cbe8;
  --primary-400: #37bce1;
  --primary-500: #1FA9CF;
  --primary-600: #1ea3c8;
  --primary-700: #177f9b;
  --primary-800: #115b6f;
  --primary-900: #0a3643;

  --text-color: var(--gray-900);

  font-size: 16px;
  --content-sm: 35.5rem;   /* 35.5rem 568px */
  --content-md: 48.0rem;   /* 48.0rem 768px */
  --content-lg: 64.0rem;   /* 64.0rem 1024px */
  --content-xl: 80.0rem;   /* 80.0rem 1280px */
  --content-xxl: 120.0rem; /* 120.0rem 1920px */
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 4rem;
  --gap-xl: 8rem;
  --gap-xxl: 16rem;
  
  --header-height: 72px;
  --footer-height: 0px;
  --content-container-padding: var(--gap-md);
  --content-container-min-height: calc(100vh - var(--header-height) - var(--footer-height));
  --content-height: calc(var(--content-container-min-height) - calc(2 * var(--content-container-padding)));

  --divider-default-width: 191px;
  --divider-min-width: 0px;
  --divider-max-width: 1024px;
  --background-canvas-size-frames-line-width: 2px;
  --background-canvas-frame-ruler-width: 24px;
  --background-canvas-frame-ruler-line-width: 2px;
  --background-canvas-thin-lines-width: 1px;
  --background-canvas-thick-lines-width: 2px;
  --background-canvas-frame-ruler: var(--primary-900);
  --background-canvas-frame-contrast: var(--gray-100);
  --background-canvas-grid-thin-lines: var(--gray-100);
  --background-canvas-grid-thick-lines: var(--gray-200);
  --background-canvas-size-frame-position-line: #ff524a50;
  --background-canvas-size-frame-margin: #1ee19650;
  --background-canvas-size-frame-border: #e1341e50;
  --background-canvas-size-frame-padding: #1e6ae150;
  --background-canvas-size-frame-content: #1FA9CF50;
}

.no-margin body, 
.no-margin h1, 
.no-margin h2, 
.no-margin h3, 
.no-margin h4, 
.no-margin h5, 
.no-margin p, 
.no-margin small {
  margin: 0px;
}

.fill-height-available body,
.fill-height-available html {
  min-height: -webkit-fill-available;
}

.primary-h1 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.primary-h2 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
}

.primary-h3 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.primary-h4 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.0rem;
}

.primary-h5 {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

.primary-p {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

.primary-small {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}

.secondary-h1 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
}

.secondary-h2 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
}

.secondary-h3 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.secondary-h4 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.0rem;
}

.secondary-h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

.secondary-p {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

.secondary-small {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}

.tertiary-h1 {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
}

.tertiary-h2 {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
}

.tertiary-h3 {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.tertiary-h4 {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.0rem;
}

.tertiary-h5 {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

.tertiary-p {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

.tertiary-small {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}
