
.react-isolator {
  width: 100%;
  height: 95vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: var(--gap-md);
  background-color: var(--white);
}

.react-isolator__content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-md);
  padding: 0px var(--gap-md);
}