
.react-isolator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: var(--gap-md);
  background-color: var(--white);
}

.react-isolator__content {
  opacity: 1.0;
}