.switch-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  width: 36px;
  height: 36px;
  color: var(--gray-400);
  border: 1px solid var(--gray-400);
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
}

.react-isolator--dark .switch-button {
  color: var(--gray-600);
  border: 1px solid var(--gray-600);
}

@media (prefers-color-scheme: dark) {
  .switch-button {
    color: var(--gray-600);
    border: 1px solid var(--gray-600);
  }
}

.switch-button--on {
  color: var(--gray-600);
  border: 1px solid var(--gray-600);
  outline: 1px solid var(--gray-600);
  box-shadow: none;
}

.react-isolator--dark .switch-button--on {
  background: var(--gray-400);
  border: none;
  color: var(--gray-900);
  box-shadow: 0px 0px 4px 2px var(--primary-200);
}

@media (prefers-color-scheme: dark) {
  .switch-button--on {
    background: var(--gray-400);
    border: none;
    color: var(--gray-900);
    box-shadow: none;
  }
}
