.button {
  padding: var(--gap-sm);
  border: 1px solid var(--gray-500);
  border-radius: 6px;
  margin: var(--gap-sm);
  cursor: pointer;
}

.button:hover {
  box-shadow: 1px 1px 2px 3px var(--gray-300);
}
